* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    background-color: rgb(19, 19, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}


.links {
    display: flex;
    gap: 20px;
}

               
.links a {
    color: rgb(191, 212, 231);
    text-decoration: none;
}


.hero {
    background-color: rgb(17, 14, 51);
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 60px 0px;


}


.card {
    width: 250px;
    background-color: rgb(10, 9, 73);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.card-img {
    width: 206px;
    height: 80px;
    background-color: rgb(29, 36, 97);
}


footer {
    color: white;
    background-color: rgb(20, 13, 58);
    text-align: center;
    padding: 2opx 0;
}
h2{
    color: white;
}


