* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card {
    margin: 40px;
    background-color: #DF8D00;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}
h2 {
    text-align: center;
    margin: 10px 0px;
}
.card-bottom {
    background-color: #fae25b;
    padding: 10px;
    border-radius: 10px;
}
.marca {
    text-align: center;
    color: #8b7600;
    margin-top: 10px;
}